# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion
*.idea
.gitignore
.idea/blob-track.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

# Build files and executables
CMakeCache.txt
CMakeFiles/
Makefile
blob-track
cmake_install.cmake

# Vim
*.swp
